@media ( min-width: 993px )
  .header
    &-nav
      &__link
        &::after
          content: ""
          position: absolute
          left: 0
          bottom: -4px
          width: 100%
          border-bottom: 1px solid $body
          transform: translateY(10px) scale(0)
          transition: all .3s
        &:hover::after
          transform: translateY(0px) scale(1)
          box-shadow: 0px -1px 3px 0px rgba($blue, 0.3)
      &__button
        &:hover
          color: $light
          border-color: transparent
          background-color: rgba($blue, 0.5)
  .hero
    &-button
      &:hover
        background-color: #4E82AB
@media ( max-width: 1200px )
  .container
    max-width: 960px
  .container-2
    max-width: 900px
@media ( max-width: 992px )
  .container
    max-width: 840px
  .container-2
    max-width: 780px
  .header
    &-nav
      &__link
        margin-right: 32px
  .hero
    &-wrapper
      padding-top: 50px
      padding-left: 50px
    &-text
      max-width: 517px
@media ( max-width: 850px )
  .container
    max-width: 728px
  .container-2
    max-width: 648px
  .header
    &-logo
      height: 26px
    &-nav
      display: none
    &-hamburger
      display: flex
  .hero
    padding-top: 22px
    padding-bottom: 22px
    &-wrapper
      padding-top: 36px
      padding-left: 28px
      height: 624px
      background-size: 175%
      background-position-x: 65%
      background-position-y: 25%
    &-tag
      margin-bottom: 24px
    &-title
      margin-bottom: 20px
      max-width: 407px
      font-size: 48px
      line-height: 60px
    &-text
      margin-bottom: 36px
      max-width: 400px
      font-size: 18px
      line-height: 32px
    &-button
      margin-bottom: 40px
    &-about
      &__group
        &:not(:last-child)
          margin-right: 20px
@media ( max-width: 767px )
  .container
    max-width: 100%
  .container-2
    max-width: 87%
  .hero
    &-wrapper
      background-size: cover
      background-position-x: 55%
      background-position-y: center
      border-radius: 0
@media ( max-width: 576px )
  .hero
    &-wrapper
      background-position-x: 60%
    &-title
      max-width: 362px
      font-size: 42px
      line-height: 52px
    &-text
      margin-bottom: 32px
      max-width: 340px
@media ( max-width: 555px )
  .hero
    &-wrapper
      padding: 0
      padding-bottom: 36px
      display: flex
      flex-direction: column
      align-items: center
      height: 900px
      background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 63.32%, #E8EAE9 76.51%), url(../img/bg/hero-mobile-l.jpg)
      background-position: center
      background-repeat: no-repeat
    &-tag
      margin-top: auto
    &-title,
    &-text
      text-align: center
      max-width: 400px
    &-about
@media ( max-width: 425px )
  .container-2
    max-width: 85%
  .header
    padding: 18px 0
    &-nav
      &__link
        margin: 0
        margin-bottom: 40px
        font-size: 20px
        line-height: 36px
    &-mobile
      background-color: rgba($blue, 0.5)
      &__nav
        align-items: center
        padding-top: 30px
  .hero
    padding-top: 26px
    &-tag
      max-width: 196px
      margin-bottom: 20px
      padding: 2px 26px
    &-title
      max-width: 340px
      font-size: 32px
      line-height: 40px
    &-text
      max-width: 340px
      margin-bottom: 30px
    &-button
      width: 233px
      height: 48px
      padding: 13px 24px
      margin-bottom: 30px
      font-size: 16px
      line-height: 22px
    &-about
      max-width: 290px
      height: 84px
      flex-wrap: wrap
      justify-content: center
      &__group
        &:not(:last-child)
          margin-right: 0
        &:first-child
          margin-right: 16px
        &:last-child
          margin-top: auto
@media ( max-width: 375px )
  .hero
    &-title
      max-width: 280px
    &-text
      max-width: 280px
      margin-bottom: 24px
      font-size: 16px
      line-height: 28px
@media ( max-width: 320px )
  .hero
    &-wrapper
      height: 899px
      background: url(../img/bg/hero-mobile-s.jpg) center / cover
    &-button
      margin-bottom: 22px
    &-about
      width: 261px
      height: 64px
      &__radius
        width: 24px
        height: 24px
        border-radius: 8px
      &__img
        width: 14.67px
        height: 14.67px
