@media ( min-width: 993px )
  .header
    &-nav
      &__link
        &::after
          content: ""
          position: absolute
          left: 0
          bottom: -4px
          width: 100%
          border-bottom: 1px solid $body
          transform: translateY(10px) scale(0)
          transition: all .3s
        &:hover::after
          transform: translateY(0px) scale(1)
          box-shadow: 0px -1px 3px 0px rgba($blue, 0.3)
      &__button
        &:hover
          color: $light
          border-color: transparent
          background-color: rgba($blue, 0.5)
  .hero
    &-button
      &:hover
        background-color: #4E82AB
  .collection
    &-img
      &:hover
        transform: scale(1.1)
    &-hov
      &:hover
        color: #073D8C
        fill: #073D8C
  .trending
    &-more
      &:hover
        background-color: #073D8C
    &-card
      &:hover
        box-shadow: 0px 0px 7px 2px rgba($body, 0.65)
      &__img
        &:hover
          transform: scale(1.1)
  .stories
    &-button
      &:hover
        border-color: $body
      &__img
        &:hover
          fill: $body
    &-description
      &__button
        &:hover
          color: #073D8C
  .subscribe
    &-info
      &__button
        &:hover
          background-color: #4E82AB
    &-form
      &__subscribe
        &:hover
          background-color: #4E82AB
  .footer
    &-item
      &__link
        &:hover
          color: $blue
    &-social
      &__link
        &:hover
          background-color: rgba($lightGrey, 0.2)
      &__icon
        &:hover
          fill: $blue
@media ( max-width: 1200px )
  .container
    max-width: 960px
  .container-2
    max-width: 900px
  .hero
    padding-bottom: 50px
  .collection
    padding-top: 50px
    &-wrapper
      flex-wrap: wrap
    &-pic
      flex-basis: 100%
      justify-content: space-evenly
      margin-bottom: 30px
      &__block
        margin: 0
    &-new
      padding: 0
      &__title
        text-align: center
      &__text
        text-align: justify
        margin-bottom: 20px
    &-link
      justify-content: flex-end
  .trending
    padding-top: 60px
    &-container
      max-width: 960px
    &-block
      padding-left: 0px
    &-card
      width: 230px
      margin-bottom: 48px
    &-more
      width: 230px
  .stories
    padding-bottom: 60px
    &-container
      max-width: 960px
    &-wrapper
      padding-top: 100px
    &-about
      margin-right: auto
      max-width: 318px
    &-swiper
      width: 598px
    &-item
      width: 290px
      &__img
        width: 280px
    &-description
      width: 280px
  .subscribe
    padding-top: 55px
    padding-bottom: 60px
    &-wrapper
      padding-top: 74px
      padding-bottom: 80px
      flex-direction: column
      align-items: center
    &-info
      text-align: center
      margin-bottom: 56px
      &__container
        display: flex
        flex-direction: column
        align-items: center
    &-form
      margin: 0
  .footer
    padding-top: 54px
    padding-bottom: 70px
    &-container
      max-width: 960px
    &-social
      margin-right: 65px
    &-list
      width: 154px
@media ( max-width: 992px )
  .container
    max-width: 840px
  .container-2
    max-width: 780px
  .header
    &-nav
      &__link
        margin-right: 32px
  .hero
    &-wrapper
      padding-top: 50px
      padding-left: 50px
    &-text
      max-width: 517px
  .trending
    padding-top: 40px
    padding-bottom: 15px
    &-container
      max-width: 608px
    &-header
      flex-direction: column
      margin-bottom: 54px
      &__title
        margin-bottom: 28px
      &__list
        margin-left: 0
    &-card,
    &-more
      width: 280px
  .testimonial
    &-card
      &__text
        max-width: 700px
  .stories
    padding-bottom: 40px
    &-container
      max-width: 720px
    &-wrapper
      padding-top: 80px
      flex-direction: column
      align-items: center
    &-about
      display: flex
      flex-direction: column
      align-items: center
      margin-right: 0
      margin-bottom: 35px
      max-width: 510px
      &__tag
        margin-bottom: 25px
      &__title
        margin-bottom: 15px
      &__text
        margin-bottom: 36px
        text-align: center
    &-swiper
      width: 682px
    &-list
      margin-top: 0
    &-item
      width: 332px
      &__img
        width: 322px
    &-description
      width: 322px
      padding-right: 42px
  .subscribe
    padding-top: 40px
  .footer
    padding-top: 4px
    padding-bottom: 64px
    &-container
      max-width: 648px
    &-nav
      flex-wrap: wrap
    &-social
      margin-right: 69px
      &__logo
        margin-bottom: 23px
      &__description
        margin-bottom: 30px
    &-list
      margin-bottom: 48px
      &:not(:last-of-type)
        margin-right: 0px
      &:nth-of-type(odd)
        margin-right: 39px
    &-copyright
      margin-top: 13px
@media ( max-width: 850px )
  body
    padding-top: 80px
  .container
    max-width: 728px
  .container-2
    max-width: 648px
  .header
    &-logo
      height: 26px
    &-hidden
      display: none
    &-nav
      padding: 60px 0
      color: $light
      &__link
        margin-right: 0
        margin-bottom: 25px
        font-size: 24px
        line-height: 32px
        letter-spacing: 0.2px
      &__button
        margin-bottom: 25px
    &-hamburger
      display: block
  .hero
    padding-top: 22px
    padding-bottom: 40px
    &-wrapper
      padding-top: 36px
      padding-left: 28px
      height: 624px
      background-size: 175%
      background-position-x: 65%
      background-position-y: 25%
    &-tag
      margin-bottom: 24px
    &-title
      margin-bottom: 20px
      max-width: 438px
      font-size: 48px
      line-height: 60px
    &-text
      margin-bottom: 36px
      max-width: 400px
      font-size: 18px
      line-height: 32px
    &-button
      margin-bottom: 40px
    &-about
      &__group
        &:not(:last-child)
          margin-right: 20px
  .collection
    padding-top: 40px
    padding-bottom: 40px
    &-container
      max-width: 672px
    &-pic
      justify-content: space-between
      margin-bottom: 42px
    &-new
      &__title
        margin-bottom: 17px
        text-align: left
      &__text
        margin-bottom: 29px
        text-align: left
    &-link
      justify-content: start
  .testimonial
    padding-top: 17px
    &-card
      &__img
        margin-bottom: 12px
      &__text
        margin-bottom: 36px
        max-width: 630px
      &__author
        margin-bottom: 56px
@media ( max-width: 767px )
  .container
    max-width: 100%
  .container-2
    max-width: 87%
  .hero
    &-wrapper
      background-size: cover
      background-position-x: 55%
      background-position-y: center
      border-radius: 0
  .collection
    &-container
      max-width: 93%
  .trending
    &-container
      max-width: 540px
    &-card,
    &-more
      width: 260px
  .testimonial
    &-card
      &__text
        max-width: 100%
  .stories
    &-wrapper
      padding-top: 60px
    &-swiper
      width: 550px
    &-item
      width: 266px
      &__img
        width: 256px
    &-description
      width: 256px
      padding-right: 20px
  .footer
    &-container
      max-width: 540px
    &-wrapper
      flex-direction: column
    &-social
      margin-right: 0
      align-self: center
      align-items: center
      margin-bottom: 50px
      &__description
        text-align: center
        width: 300px
      &__link
        &:not(:last-child)
          margin-right: 10px
    &-nav
      flex-wrap: nowrap
      justify-content: space-between
    &-list
      width: 120px
      &:nth-of-type(odd)
        margin-right: 0px
      &__title
        font-size: 16px
        line-height: 22px
    &-item
      &__link
        font-size: 14px
        line-height: 20px
    &-copyright
      &__radius
        width: 48px
        height: 48px
      &__text
        font-size: 14px
        line-height: 20px
@media ( max-width: 700px )
  .collection
    &-pic
      width: 100%
      &__block
        width: 47%
    &-img
      &__base
        width: 47%
        &_block
          width: 100%
@media ( max-width: 576px )
  .hero
    &-wrapper
      background-position-x: 60%
    &-title
      max-width: 378px
      font-size: 42px
      line-height: 52px
    &-text
      margin-bottom: 32px
      max-width: 340px
  .collection
    &-img
      &__base
        height: 390px
        &_block
          height: 185px
    &-new
      &__title
        font-size: 38px
        line-height: 50px
      &__text
        font-size: 18px
        line-height: 32px
        text-align: justify
  .trending
    &-container
      max-width: 96%
    &-block
      justify-content: space-evenly
    &-card,
    &-more
      width: 230px
  .stories
    &-container
      max-width: 95%
    &-wrapper
      padding-top: 50px
    &-about
      max-width: 390px
      &__tag
        margin-bottom: 25px
      &__title
        font-size: 32px
        line-height: 40px
      &__text
        font-size: 18px
        line-height: 30px
    &-button
      width: 52px
      height: 52px
    &-swiper
      width: 75%
    &-list
      width: 100%
      &__block
        flex-direction: column
    &-item
      width: 100%
      height: 458px
      &:first-child
        margin-right: 0
        margin-bottom: 24px
      &__img
        width: 95%
        height: 406px
    &-description
      width: 95%
      height: 150px
      padding-right: 32px
  .subscribe
    padding-bottom: 32px
    &-wrapper
      padding-top: 64px
      padding-bottom: 64px
    &-info
      max-width: 100%
      &__title
        font-size: 36px
        line-height: 44px
    &-form
      max-width: 100%
      &__subscribe
        width: 113px
    &-input
      max-width: 100%
  .footer
    &-container
      max-width: 94%
    &-nav
      flex-wrap: wrap
      justify-content: space-around
    &-list
      width: 45%
      margin-bottom: 25px
      padding-left: 13%
@media ( max-width: 555px )
  .hero
    &-wrapper
      padding: 0
      padding-bottom: 36px
      display: flex
      flex-direction: column
      align-items: center
      height: 900px
      background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 63.32%, #E8EAE9 76.51%), url(../img/bg/hero-mobile-l.jpg)
      background-position: center
      background-repeat: no-repeat
    &-tag
      margin-top: auto
    &-title,
    &-text
      text-align: center
      max-width: 400px
@media ( max-width: 520px )
  .trending
    &-card,
    &-more
      width: 220px
@media ( max-width: 490px )
  .collection
    &-img
      &__base
        height: 300px
        &_block
          height: 140px
  .trending
    &-block
      justify-content: space-between
    &-card,
    &-more
      width: 200px
  .stories
    &-item
      &__img
        height: 327px
@media ( max-width: 425px )
  body
    padding-top: 62px
  .container-2
    max-width: 85%
  .header
    padding: 18px 0
    &-nav
      &__link
        margin: 0
        margin-bottom: 40px
        font-size: 20px
        line-height: 36px
    &-mobile
      top: 62px
      &__nav
        padding: 30px 0
        align-items: center
  .hero
    padding-top: 26px
    padding-bottom: 32px
    &-tag
      max-width: 196px
      margin-bottom: 20px
      padding: 2px 26px
    &-title
      max-width: 340px
      font-size: 32px
      line-height: 40px
    &-text
      max-width: 340px
      margin-bottom: 30px
    &-button
      width: 233px
      height: 48px
      padding: 13px 24px
      margin-bottom: 30px
      font-size: 16px
      line-height: 22px
    &-about
      max-width: 290px
      height: 84px
      flex-wrap: wrap
      justify-content: center
      &__group
        &:not(:last-child)
          margin-right: 0
        &:first-child
          margin-right: 16px
        &:last-child
          margin-top: auto
  .collection
    padding-top: 32px
    padding-bottom: 32px
    &-container
      max-width: 93%
    &-img
      border-radius: 3.36px
    &-new
      &__title
        font-size: 30px
        line-height: 38px
      &__text
        text-align: left
  .trending
    padding-top: 34px
    padding-bottom: 10px
    &-container
      max-width: 95%
    &-header
      margin-bottom: 36px
      &__title
        margin-bottom: 22px
        font-size: 28px
        line-height: 36px
      &__list
        width: 289px
      &__item
        font-size: 16px
        line-height: 22px
    &-card
      width: 115px
      height: 260px
      margin-bottom: 20px
      &__img
        height: 200px
        margin-bottom: 15px
    &-description
      padding: 0
      &__title
        font-size: 15px
        line-height: 18px
        margin-bottom: 0
      &__price
        font-size: 14px
        line-height: 24px
        &_img
          width: 14px
          height: 32px
          margin-left: 9px
    &-more
      flex-basis: 65%
      width: 140px
      height: 200px
      padding-bottom: 29px
      &__img
        width: 25px
        height: 32px
        margin-bottom: 21px
      &__title
        font-size: 20px
        line-height: 24px
  .testimonial
    padding-top: 18px
    padding-bottom: 20px
    &-card
      &__img
        width: 70px
        height: 81px
        margin-bottom: 14px
      &__text
        margin-bottom: 24px
        font-size: 18px
        line-height: 36px
        letter-spacing: 0.12px
      &__author
        display: flex
        flex-wrap: wrap
        justify-content: center
        max-width: 177px
        margin-bottom: 43px
        font-size: 20px
        line-height: 24px
        &_dash
          display: inline
  .stories
    padding-top: 29px
    padding-bottom: 32px
    &-container
      max-width: 92%
    &-wrapper
      padding-top: 47px
    &-about
      max-width: 100%
      margin-bottom: 25px
      &__tag
        padding: 2px 12px
        margin-bottom: 26px
      &__title
        font-size: 28px
        line-height: 36px
      &__text
        font-size: 16px
        line-height: 28px
      &__button
        width: 111px
    &-button
      width: 48px
      height: 48px
    &-swiper
      width: 96%
    &-list
      width: 100%
      &__block
        flex-direction: column
    &-item
      width: 100%
      &:first-child
        margin-right: 0
        margin-bottom: 24px
      &__img
        width: 95%
    &-description
      width: 95%
      padding-right: 24px
      &__text
        font-size: 21px
        line-height: 26px
      &__button
        font-size: 18px
        line-height: 24px
  .subscribe
    padding-top: 33px
    &-wrapper
      padding-top: 66px
      padding-bottom: 64px
    &-info
      margin-bottom: 36px
      &__title
        margin-bottom: 22px
        font-size: 28px
        line-height: 36px
      &__subtitle
        font-size: 16px
        line-height: 28px
    &-form
      display: flex
      flex-direction: column
      &__subscribe
        top: 0
        left: 0
        transform: translateY(0)
        position: relative
        width: 100%
        border-radius: 8px
    &-input
      height: 48px
      margin-bottom: 10px
      &__email
        font-size: 16px
        line-height: 22px
        padding-right: 10px
        &:placeholder
          font-size: 16px
          line-height: 22px
  .invalid
    bottom: 0px
    color: #FF4040
  .footer
    padding-top: 16px
    padding-bottom: 64px
    &-container
      max-width: 85%
    &-social
      margin-top: 6px
      margin-bottom: 0
      order: 1
      &__logo
        margin-bottom: 9px
      &__description
        width: 260px
        margin-bottom: 23px
        font-size: 14px
        line-height: 24px
      &__link
        &:not(:last-of-type)
          margin-right: 6px
    &-nav
      flex-wrap: wrap
      justify-content: space-around
    &-list
      width: 47%
      margin-bottom: 39px
      padding-left: 10%
      &:nth-of-type(odd)
        margin-right: 16px
      &__title
        margin-bottom: 18px
    &-item
      &:not(:last-of-type)
        margin-bottom: 13px
    &-copyright
      display: none
@media ( max-width: 375px )
  .hero
    &-title
      max-width: 280px
    &-text
      max-width: 280px
      margin-bottom: 24px
      font-size: 16px
      line-height: 28px
  .collection
    &-container
      max-width: 290px
    &-pic
      flex-direction: column
      margin-bottom: 38px
      &__block
        width: 100%
        flex-direction: row
        justify-content: space-between
    &-img
      &__base
        width: 100%
        height: 300px
        margin-bottom: 14px
        &_block
          width: 138px
          height: 97px
    &-new
      display: flex
      flex-direction: column
      align-items: center
      &__title
        margin-bottom: 14px
        font-size: 28px
        line-height: 36px
      &__text
        font-size: 16px
        line-height: 28px
        text-align: center
    &-link
      font-size: 16px
      line-height: 22px
  .trending
    &-card
      width: 150px
    &-description
      &__title
        font-size: 16px
    &-more
      flex-basis: auto
      width: 150px
  .stories
    &-item
      height: 428px
      &__img
        height: 307px
    &-description
      height: 150px
  .footer
    &-list
      padding-left: 6%
@media ( max-width: 320px )
  .hero
    &-wrapper
      height: 899px
      background: url(../img/bg/hero-mobile-s.jpg) center / cover
    &-button
      margin-bottom: 22px
    &-about
      width: 261px
      height: 64px
      &__radius
        width: 24px
        height: 24px
        border-radius: 8px
      &__img
        width: 14.67px
        height: 14.67px
  .collection
    &-new
      &__text
        max-width: 280px
        margin-bottom: 24px
  .trending
    &-container
      max-width: 91%
    &-card
      width: 140px
      height: 234px
      &__img
        height: 170px
    &-more
      width: 140px
      height: 170px
  .stories
    &-description
      padding-right: 10px
      padding-left: 15px
      &__text
        font-size: 20px
        line-height: 24px
      &__button
        font-size: 16px
        line-height: 22px
    &-item
      height: 407px
      &__img
        height: 277px
  .footer
    &-nav
      justify-content: start
    &-list
      padding-left: 0
