.hero
  &-wrapper
    padding-top: 62px
    padding-left: 107px
    width: 100%
    height: 700px
    background: $grey url(../img/bg/hero-bg.jpg) center / cover
    border-radius: 8px
  &-info
    width: 600px
  &-tag
    display: block
    max-width: 175px
    padding: 6px 15px
    margin-bottom: 28px
    font-weight: 600
    font-size: 14px
    line-height: 20px
    text-align: center
    color: $green
    background-color: rgba($green, 0.1)
    border-radius: 2000px
  &-title
    margin-bottom: 28px
    font-weight: bold
    font-size: 56px
    line-height: 68px
    letter-spacing: 0.2px
  &-text
    margin-bottom: 52px
    font-size: 20px
    line-height: 36px
    color: $lightGrey
  &-button
    display: block
    max-width: 233px
    margin-bottom: 48px
    padding: 16px 24px
    font-weight: 700
    font-size: 18px
    line-height: 25px
    text-align: center
    color: $light
    background-color: $body
    border-radius: 8px
  &-about
    display: flex
    &__description
      font-weight: 600
      font-size: 16px
      line-height: 20px
      letter-spacing: 0.2px
